# Application
NODE_ENV=development

# Frontend
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8080/api/v1

# Backend
PORT=8080

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=job_board